// 常用的变量 公共变量

$yx-color:#777 !default;
$yx-color1:#999 !default;
$yx-color2: #5dc2c2 !default;
$yx-color3: #888 !default;
$yx-color4:#666 !default;
$yx-color5:#909399 !default;
$yx-color6: #444 !default;
$yx-color7:#434343 !default;
$yx-color8:#606266 !default;
$yx-color9: #357bb7 !default;
$yx-active-color: #ff9A00 !default;
$yx-bg: #f7f8f9 !default;
$yx-bg2:#fff5e9 !default;
$yx-bg3:#f5f7f9 !default;
$yx-bg4:#f7f7f7 !default;
$yx-btn-bg:#f4f4f4 !default;
$yx-active-bg:#f90 !default;
$yx-top-bg:#f6f7f8 !default;
$yx-top-bg2:#f6f8fa !default;
$yx-top-bg3:#cceced !default;
$yx-top-bg4:#f1f6f8 !default;
$yx-btn-color: #79d2ff !default;
$yx-btn-color2:#f66 !default;
$yx-border-color:#e4e4e4 !default;
$yx-border-color2: #ddd !default;
$yx-border-color3:#ccc !default;
$yx-border-color4:#dcdfe6 !default;
$yx-border-color5:#bbb !default;
$yx-border-hover: #c0c4cc !default;
$yx-transparent:transparent !default;
$yx-list-hover: #eee !default;
$yx-list-active: #d5fbf2 !default;
$yx-active-color2:#f89100 !default;
$yx-active-color3:#f2ad49 !default;
$yx-font-color: #101010 !default;
$yx-table-hover:#e8f2ff !default;
$yx-table-hover2:#f4f6f9 !default;
$yx-table-hover3: #f5f7fa !default;
$yx-mask-bg: rgba(0,0,0,.6) !default;

$white:#fff;
$red: #f00;
$yx-warn:#f30 !default;


$font-family: "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
