html,
body,
ul,
li,
ol,
hr {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;

  &:hover,
  &:active {
    outline: 0;
    text-decoration: none;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

[class^="icon-"]:before {
  display: inline-block;
  font-family: iconfont;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
